[Unit]
Description={{ project_name }} daemon
Requires={{ project_name }}.socket
After=network.target

[Service]
User={{ project_user }}
Group={{ project_group }}
WorkingDirectory={{ project_dir }}
ExecStart={{ project_exec_start }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
